// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.order-box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.order-row {
  display: flex;
  justify-content: space-between;
}

.order-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px 4px;
}

.order-box h4 {
  text-align: center;
  margin: 0;
}

.order-content {
  white-space: pre-line;
}